</main>
<footer id="footer" class="">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="content">
        <nav>{% include "menu.twig" with {'menu' : menu.get_items}%}</nav>
        <p id="copyright" class="text-center nomargin">&copy; {{"now"|date('Y')}} Florian Scildwächter, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
</footer>
