/* ACF */

.acf-field.options-bg {
    background-color: #f1f1f1;
}

.acf-field.flex-bg {
    background-color: #23282d;
}

/* Colors */
.red-bg, .blue-bg, .green-bg, .darkgrey-bg, .black-bg{
    color: #fff;
}

.red-bg {
    background-color: #0000ff;
}

.blue-bg {
    background-color: #0000ff;
}

.green-bg {
    background-color: #00ff00;
}

.darkgrey-bg {
    background-color: #333;
}

.black-bg {
    background-color: #000;
}

.yellow-bg {
    background-color: #00ffff;
    color: #333;
}

.grey-bg {
    background-color: #c3c3c3;
    color: #333;
}
