{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

{% include 'partials/header/header.twig' %}

{% block content %}
{% endblock %}

{% block footer %}
  {% include 'partials/footer/footer.twig' %}
  {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
